<%= form_for @cake do |form| %>
  <p><%= form.label("nazwa") %></p>
  <p><%= form.text_field :name %></p>
  <% if @cake.errors[:name].any? %>
    <div class="error">
      <ul>
        <% @cake.errors[:name].each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p><%= form.select :kind, options_for_select([["wybierz", ""], "tasty", "non-gluten", "vegan"]) %></p>
  <% if @cake.errors[:kind].any? %>
    <div class="error">
      <ul>
        <% @cake.errors[:kind].each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p><%= form.label("przepis") %></p>
  <p><%= form.text_area :description %></p>
  <% if @cake.errors[:description].any? %>
    <div class="error">
      <ul>
        <% @cake.errors[:description].each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p><%= form.submit "Wyślij" %></p>
<% end %>