<%= form_for @cake do |form| %>
    <p><%= form.label("nazwa") %></p>
    <p><%= form.text_field :name %></p>
    <%= @cake.errors[:name] %>
    <p><%= form.select :kind, options_for_select([["wybierz", ""], "tasty", "non-gluten", "vegan"]) %></p>
    <%= @cake.errors[:kind] %>
    <p><%= form.label("przepis") %></p>
    <p><%= form.text_area :description %></p>
    <%= @cake.errors[:description] %>
    <p><%= form.submit "Wyślij" %></p>
<% end %>