%p#notice= notice
%h1 Listing Cake Attachments
%table
  %thead
    %tr
      %th Cake
      %th Image
      %th{:colspan => "3"}
  %tbody
    - @cake_attachments.each do |cake_attachment|
      %tr
        %td= cake_attachment.cake_id
        %td= cake_attachment.image
        %td= link_to 'Show', cake_attachment
        %td= link_to 'Edit', edit_cake_attachment_path(cake_attachment)
        %td= link_to 'Destroy', cake_attachment, method: :delete, data: { confirm: 'Are you sure?' }
%br
  = link_to 'New Cake attachment', new_cake_attachment_path