%p#notice= notice
%p
%strong Cake:
= @cake_attachment.cake_id
%p
%strong Image:
= @cake_attachment.image
= link_to 'Edit', edit_cake_attachment_path(@cake_attachment)
= link_to 'Back', cake_attachments_path
